<app-header></app-header>
<div class="card shadow-lg">
  <div class="card-header">
    <div *ngIf="(clienteId == null)">
      Criando Cliente
    </div>

    <div *ngIf="(clienteId != null)">
      Editando Cliente
    </div>
  </div>

  <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="card-body">
      <div class="card-header">
        Dados Pessoais
      </div>
      <div class="row">
        <!--nome-->
        <div class="form-group col-sm-5">
          <label class="form-control-label">Nome</label>
          <input type="text" class="form-control" name="name" #nameInput="ngModel" [(ngModel)]="cliente.nome"
            maxlength="600" required>

          <!--cpf-->


          <label class="form-control-label">CPF</label>
          <input type="text" class="form-control" name="cpf" #cpfInput="ngModel" maxlength="14" mask="000.000.000-00"
            [(ngModel)]="cliente.cpf" required>

        </div>
      </div>

      <!--CONTATOS-->
      <div class="card-header">Contato</div>


        <label class="form-control-label" E-mail>Email</label>
        <input type="email" class="form-control" name="email" #emailInput="ngModel" [(ngModel)]="email" minlength="5"
          maxlength="254" email required>
        <button *ngIf=" role == 'ADMIN'" class="btn btn-danger" type="button" (click)="pushEmail(email)">adcionar email</button>
        <div class="form-group col-sm-5" *ngFor="let item of listEmail">
          {{item.email}}
        </div>

        <label class="form-control-label">Telefone</label>
        <input type="telefone" class="form-control" name="telefone" #telefonelInput="ngModel" [(ngModel)]="telefone" maxlength="16" mask="(00) 0000-0000">
        <button  *ngIf=" role == 'ADMIN'"  class="btn btn-danger" type="button" (click)="pushTelefone(telefone)">adcionar telefone</button>
        <div *ngFor="let item of listTelefone">
          {{item.numero}}
        </div>



      <!--ENDERECO-->

      <div class="card-header">
        Endereço
      </div>
      <div class="row">
        <div class="form-group col-sm-5">
          <label class="form-control-label">CEP</label>
          <input type="text" class="form-control" name="cep" [(ngModel)]="cliente.endereco.cep" maxlength="9"
            mask="00000-000" required>
          <button *ngIf=" role == 'ADMIN'" type="button" class="btn btn-success" style="float: right;"
            (click)="consultarCep(cliente.endereco.cep)">
            procurar
          </button>


          <label class="form-control-label">Logradouro</label>
          <input type="text" class="form-control" name="logradouro1" [(ngModel)]="cliente.endereco.logradouro"
            maxlength="100" required [disabled]=true>



          <label class="form-control-label">Bairro</label>
          <input type="text" class="form-control" name="bairro1" [(ngModel)]="cliente.endereco.bairro" maxlength="50"
            required [disabled]=true>


          <label class="form-control-label">Cidade</label>
          <input type="text" class="form-control" name="cidade1" [(ngModel)]="cliente.endereco.cidade" maxlength="30"
            required [disabled]=true>


          <label class="form-control-label" for="enderecoUf">UF</label>
          <input class="form-control" id="enderecoUf" name="enderecoUf" [(ngModel)]="cliente.endereco.uf" required
            [disabled]=true>

          <label class="form-control-label" for="complemento">Complemento</label>
          <input class="form-control" id="complemento" name="complemento" [(ngModel)]="cliente.endereco.complemento"
            required>


        </div>
      </div>
      <div class="btn-group flex-btn-group-container">
        <button type="button" class="btn btn-info" (click)="previousState()">
          <span>Voltar</span>
        </button>

        <button *ngIf=" role == 'ADMIN'" type="submit" class="btn btn-success"
          [disabled]="editForm.form.invalid || isSaving">
          <span>Salvar</span>
        </button>

      </div>
    </div>


  </form>
</div>
