<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" style="color:white">
      Sistema de Gestão de Clientes
  </a>



  <button class="btn btn-outline-secondary" (click)= "logout()"style="background ;color:white">Sair</button>

</nav>
