<div class="row">

    <div class="col-md-6 login-container">
        <h2 style="margin: auto">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
                <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Usuario não informado</div>
            </div>
            <div class="form-group">
                <label for="pwd">Senha:</label>
                <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
                <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Senha não informada</div>
            </div>
            <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
            <div *ngIf="invalidLogin" class="error">
                <div>Login inválido.</div>
            </div>
        </form>
    </div>
</div>
