<app-header></app-header>

<div class="card shadow-lg">
  <div class="card-header text-center">
      <label class="form-control-label" style="font-weight: bold">Dashboard Clientes</label>
      <div *ngIf=" role == 'ADMIN'">
        <button (click)="createCliente()" title="Criar" class="btn btn-success btn-sm" style="float: right;">
          Criação
         </button>
      </div>
  </div>

  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th style=" border: 1px solid black">Nome</th>
                      <th style=" border: 1px solid black">CPF</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cliente of clientes;">
                      <td style=" border: 1px solid black">{{cliente.nome}}</td>
                      <td style=" border: 1px solid black">{{cliente.cpf}}</td>
                      <td class="text-right button-width-table">
                          <div  class="btn-group flex-btn-group-container">

                            <button *ngIf=" role == 'ADMIN'"  (click)="deleteCliente(cliente.id)"  title = "deletar" class="btn btn-secondary btn-sm">
                              Deleção
                              </button>

                              <button (click)="clienteDetail(cliente.id)" title="Ver/Editar" class="btn btn-primary btn-sm">
                              Detalhes
                              </button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
